/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

ul {
  list-style: none;
}

a {
  color: #17a2b8;
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 2px #17a2b8;
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #17a2b8;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: #fff;
}

/* Margins */
.my-1 {
  margin: 1rem 0;
}
.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  background: #17a2b8;
  color: #fff;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text-primary {
  color: #17a2b8;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Home */
.home-container {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 35%;
  left: 10%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-container h1 {
  font-size: 3rem;
  margin-top: 5rem;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.divider {
  height: 300px;
  width: 30px;
  border-radius: 5px;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

/*Alert*/
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}

.alert-danger {
  background: #dc3545;
  color: #fff;
}
